body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #DADDE2;
    color: black;
    margin: 0;
}

.header {
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.big-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.small-container {
    width: 800px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu {
    background-color: #628281;
    border-radius: 8px;
    overflow: hidden;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    flex: 1;
}

.menu a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #43655A;
}

.wrapper {
    display: flex;
}

h2 {
    display: inline-block;
    background-image: linear-gradient(
        transparent 50%, #ff6 50%);
        padding-bottom: .25rem;
}

h3 {
    text-align: center;
}

.text-section {
    flex: 1;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
    border-radius: 8px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chart-section {
    flex: 2;
    margin-left: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.chart-box {
    margin-bottom: 20px;
}

.chart-box canvas {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}