  body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #DADDE2;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .header {
    padding: 15px 0;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 30px;
  }

  a {
    color: white;
  }

  .input {
    text-align: right;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px; /* 조정 가능한 최대 너비 */
    margin-left: auto;
    margin-right: auto;
  }

  main {
    flex: 1;
    padding: 20px;
  }

  aside {
    position: sticky;
    top: 20px;
    margin-top: 20px;
    align-self: flex-start;
    margin-right: 20px;
  }
  
  .big-container {
    max-width: 800px;
    padding: 20px;
    margin-bottom: 20px;
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h4 {
    font-size: 20px;
  }
  
  .tip {
    background-color: #628281;
    color: white;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .small-container {
    background-color: white;
    color: black;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    color: black;
  }
  
  .text-section {
    margin-bottom: 15px;
  }

  .chart-section {
    display: flex;
    justify-content: center;
  }
  
  .chart-box {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  canvas {
    width: 100%;
    height: auto;
    border: 1px solid #DADDE2;
    border-radius: 5px;
  }
  
  .wrapper > * {
    margin-bottom: 10px;
  }

  .navigation-bar {
    position: relative;
    list-style: none;
    background-color: #43655A;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navigation-bar ul {
    margin: 0;
    padding: 0;
  }

  .navigation-bar li {
    display: block;
    margin-bottom: 10px;
  }

.navigation-bar a {
  text-decoration: none;
  color: #DADDE2;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 16px;
  display: block;
  transition: background-color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #628281;
  color: #fff;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding: 10px 0;
}
  