body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #DADDE2;
    color: #333;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

h4 {
    font-size: 18px;
    text-align: center;
}

p {
    text-align: center;
}

label {
    margin-bottom: 8px;
    margin-left: 120px;
    color: #333;
}

select,
button {
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #628281;
    margin-left: 200px;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #43655A;
}
