body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 0;
}

.container {
    width: 900px;
    height: 1800px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.block {
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 5px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 80%;
    height: 88%;
    margin-top: 30px;
    margin-left: 10px;
}

.small-block {
    background-color: white;
    font-size: 12px;
    width: 90%;
    height: 80%;
    border-radius: 5px;
    margin-top: 35px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 7px;
    margin-left: 8%;
    margin-top: 3%;
}

.detail-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80px;
    height: 60px;
    margin-left: 80%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.district-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 150px;
    height: 60px;
    margin-top: 60px;
    margin-left: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

main {
    width: 60%;

}

aside {
    width: 40%;
}

.map-image {
    width: 85%;
    margin-top: 30px;
    margin-left: 50px;
}

.header {
    top: 0;
    width: 100%;
    text-align: center;
}

.header h1 {
    color: black;
    font-size: 40px;
}

.chart {
    margin-top: 20%;
    background-color: white;
}

footer {
    height: 200px;
}