/* style.css */

body {
    margin: 0;
    padding: 0;
}

#main {
    background-color: #DADDE2;
    background-image: url('../images/main.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 4.5em;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    color: white;
}

p {
    font-size: 1.2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    color: white;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #628281;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}

a:hover {
    background-color: #43655A;
}