{% load static %}
{% load humanize %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SSS</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="header">
        <h1>Seoul Startup Spot</h1>
    </header>

    <div class="business">
        <p>지역: 서울특별시 강남구 논현동</p>
        <p>업종: 한식음식점</p>
        <p>첫번째 그룹: </p>
    </div>

    <div class="big-container">

        <nav class="menu">
            <ul>
                <li><a href="#salesChart">매출금액</a></li>
                <li><a href="#floatingPopulationChart">유동인구</a></li>
                <li><a href="#residentialPopulationChart">생활인구</a></li>
                <li><a href="#attractingFacilitiesChart">집객시설</a></li>
            </ul>
        </nav>

        <div class="sale">
            <h2 class="title">월평균 추정매출은 {{ mon_sale|floatformat:0|intcomma }}원입니다.</h2>
        </div>


        <section class="wrapper content">
            <div class="descript-text">
                <h2 class="title">남성 매출이 여성 매출보다 많습니다.</h2>
                <p>
                    남성은 평균적으로 월 {{ male_sale|floatformat:0|intcomma }}원을 소비합니다.<br>
                    여성은 평균적으로 월 {{ female_sale|floatformat:0|intcomma }}원을 소비합니다.
                </p>
            </div>
            <div class="chart-box">
                <canvas id="genderChart"></canvas>
            </div>

            <div class="descript-text">
                <h2 class="title">17~21 유동인구가 가장 높습니다.</h2>
            </div>
            <div class="chart-box">
                <canvas id="populationChart"></canvas>
            </div>

            <div class="descript-text">
                <h2 class="title">금요일 매출이 가장 높습니다.</h2>
            </div>
            <div class="chart-box">
                <canvas id="saleChart"></canvas>
            </div>

            <div class="descript-text">
                <h2 class="title">20대 매출이 가장 높습니다.</h2>
                <p>
                    10대 매출 금액 {{ 10_sale|floatformat:0|intcomma }}원<br>
                    20대 매출 금액 {{ 20_sale|floatformat:0|intcomma }}원<br>
                    30대 매출 금액 {{ 30_sale|floatformat:0|intcomma }}원<br>
                    40대 매출 금액 {{ 40_sale|floatformat:0|intcomma }}원<br>
                    50대 매출 금액 {{ 50_sale|floatformat:0|intcomma }}원<br>
                    60대 이상 매출 금액 {{ 60_sale|floatformat:0|intcomma }}원
                </p>
            </div>
            <div class="chart-box">
                <canvas id="ageChart"></canvas>
            </div>
        </section>
    </div>

    <script>
        const genderCtx = document.getElementById('genderChart').getContext('2d');
        const genderChart = new Chart(genderCtx, {
            type: 'pie',
            data: {
                labels: ['남성', '여성'],
                datasets: [{
                    label: '남성/여성 매출비율',
                    data: [{{ male_sale }}, {{ female_sale }}],
                    backgroundColor: ['lightblue', 'lightpink'],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const populationCtx = document.getElementById('populationChart').getContext('2d');
        const populationChart = new Chart(populationCtx, {
            type: 'bar',
            data: {
                labels: ['00~06', '06~11', '11~14', '14~17', '17~21', '21~24'],
                datasets: [{
                    label: '시간대별 유동인구',
                    data: [{{ data_00_06 }}, {{ data_06_11 }}, {{ data_11_14 }}, {{ data_14_17 }}, {{ data_17_21 }}, {{ data_21_24 }}],
                    backgroundColor: 'lightgreen',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const saleCtx = document.getElementById('saleChart').getContext('2d');
        const saleChart = new Chart(saleCtx, {
            type: 'bar',
            data: {
                labels: ['월', '화', '수', '목', '금', '토', '일'],
                datasets: [{
                    label: '요일별 매출',
                    data: [{{ mon_sale }}, {{ tue_sale }}, {{ wed_sale }}, {{ thu_sale }}, {{ fri_sale }}, {{ sat_sale }}, {{ sun_sale }}],
                    backgroundColor: 'skyblue',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const ageCtx = document.getElementById('ageChart').getContext('2d');
        const ageChart = new Chart(ageCtx, {
            type: 'pie',
            data: {
                labels: ['10대', '20대', '30대', '440대', '50대', '60대 이상'],
                datasets: [{
                    label: '연령대별 매출 비율',
                    data: [{{ 10_sale }}, {{ 20_sale }}, {{ 30_sale }}, {{ 40_sale }}, {{ 50_sale }}, {{ 60_sale }}],
                    backgroundColor: 'lightpink',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

</body>
</html>
