{% load static %}
{% load humanize %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>TRIPLE S</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
    <script src="https://kit.fontawesome.com/8878cbea7e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Noto+Sans+KR:wght@300;400;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="header">
    <h1><a href="/"><img src="{%static 'images/Blue and Green Simple Architect Logo.png' %}"></a></h1>
</div>

    <div class="big-container">
        <nav class="menu">
            <ul>
                <li><a href="{% url 'output:sales' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">매출금액</a></li>
                <li><a href="{% url 'output:floating' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">유동인구/직장인구</a></li>
                <li><a href="{% url 'output:living' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">생활인구</a></li>
                <li><a href="{% url 'output:facility' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">집객시설</a></li>
            </ul>
        </nav>
        <br>
        <div class="medium-container">
            <h3><i class="fa-solid fa-bullhorn fa-lg" style="color: #FFFFFF;"></i> &nbsp;다음 데이터는 서울시 {{selected_industry_name}} 데이터와 {{ selected_neighborhood }}의 상권데이터를 기반으로 분석한 <br>선택 상권 그룹의 "예측 데이터"입니다.
            </h3>
            <div class="wrapper">
                <div class="business-box">
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;지역 : 서울특별시 > {{ selected_district }} > {{ selected_neighborhood }}</strong></p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;업종 : 요식업 > {{ selected_industry_name }}</strong></p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;상권명 : {% for name in business_name %} {{ name }} {% endfor %}(총 {{ business_name|length }}개)</strong></p>
                </div>
                <div class="map-box">
                    <main>
                        {{ map|safe }}
                    </main>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-circle-exclamation" style="color: #ffd642;"></i> 
            다양한 집객시설이 있는 상권은 사람들을 끌어들여 소비자들이 더 많은 시간을 보내며 지출할 가능성이 높아져 상권의 활성화와 소비자 유치에 영향을 줄 수 있습니다.
        
        <br><br>
        <div class="small-container">
            <br>
            <h2 class="title">&nbsp;&nbsp;평균 집객시설 수는 {{ final.0.집객시설수|div:3|floatformat:0|intcomma }}개 입니다.</h2>
            <br>
            <div class="wrapper">
                <div class="text-section">
                    <br>
                    <div class="text-box">
                        <p>
                            <br><br><br>
                            {% if final.0.집객시설수 > district_facility %}
                                선택 상권 그룹은 총 집객시설 수가 {{ selected_neighborhood }} 평균에 비해 많은 편입니다.
                            {% else %}
                                선택 상권 그룹은 총 집객시설 수가 {{ selected_neighborhood }} 평균에 비해 적은 편입니다.
                            {% endif%}
                        </p>
                        <p style="font-size:13px">
                            <br>
                            * 총 집객시설 수는 주요 집객시설 수를 포함한 모든 집객시설의 수 입니다. 
                        </p>
                    </div>
                </div>
                <div class="chart-section">
                    <div class="chart-box">
                        <canvas id="facilityMeanChart" width="350" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="small-container">
            <br>
            {% if max_facility == "관공서" or max_facility == "대학교" %}
                <h2 class="title">&nbsp;&nbsp;선택 상권 그룹에는 {{ max_facility }}가 가장 많습니다. </h2>
            {% else %}
                <h2 class="title">&nbsp;&nbsp;선택 상권 그룹에는 {{ max_facility }}이 가장 많습니다. </h2>
            {% endif %}
            <br>
            <br>
            <div class="chart">
                <div class="chart-box">
                    <canvas id="facilityMaxChart" width="700" height="250"></canvas>
                </div>
            </div>
        </div>
        <br>
    </div>



    <script>
        const facilityMeanCtx = document.getElementById('facilityMeanChart').getContext('2d');
        const facilityMeanChart = new Chart(facilityMeanCtx,{
            type:'bar',
            data:{
                labels:[ '평균', '행정동' ],
                datasets:[{
                    label: '총 집객시설 수',
                    data: [{{ final.0.집객시설수|div:3 }}, {{ district_facility|div:3 }}],
                    backgroundColor: '#4aa8d8',
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const facilityMaxCtx = document.getElementById('facilityMaxChart').getContext('2d');
        const facilityMaxChart = new Chart(facilityMaxCtx,{
            type:'bar',
            data:{
                labels:[ '관공서', '은행', '대학교', '백화점', '슈퍼마켓', '의료시설', '교육시설', '여가시설', '교통시설'],
                datasets:[{
                    label: '주요 집객시설 수',
                    data: [{{ final.0.관공서수|div:3 }}, {{ final.0.은행수|div:3 }}, {{ final.0.대학교수|div:3 }}, {{ final.0.백화점수|div:3 }}, 
                    {{ final.0.슈퍼마켓수|div:3 }}, {{ final.0.의료시설수|div:3 }}, {{ final.0.교육시설수|div:3 }}, {{ final.0.여가시설수|div:3 }},{{ final.0.교통시설수|div:3 }}],
                    backgroundColor: '#ffaaaa',
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

    <footer class="footer">
        Triple S
    </footer>

</body>
</html>
