{% load static %}
{% load humanize %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>SSS</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

    <link rel="stylesheet" href="{% static 'css/group.css' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,500&family=Goldman&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">


    <div class="header">
        <h1>Seoul Startup Spot</h1>
    </div>
</head>

<body>

    <!--DB에 important_data 파일이 없어서 안뜨는 부분인데 뜨는지 확인 부탁
    <h1>    
        {% if important_data %}
            <h2>Important Data</h2>
                {% for item in important_data.important_feature %}
                    <tr>
                        <td>{{ item.업종코드 }}</td>
                        <td>{{ item.cluster }}</td>
                        <td>{{ item.단가 }}</td>
                        <td>{{ item.특징 }}</td>
                    </tr>
                {% endfor %}
        {% else %}
            <p>No important data available.</p>
        {% endif %}
    </h1>
    -->

    <h1>
        상권코드 잘 뜨는지 확인
        {{ group_data }}
    </h1>



    <div class="container">
        <div class="district-name">
            {{ selected_neighborhood }} {{ selected_industry_name }}
        </div>

        <div class="block">
            <main>
                {{ map|safe }}
            </main>

            <aside>
                <div class="business-list">
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">상권명</td>
                            <th scope="col">월별매출금액</td>
                            <th scope="col">점포수</td>
                            <th scope="col">상권변화지표</td>
                        </tr>
                        </thead>
                        <tbody>
                            {% for business_name in business_names %}
                            {% for business_item in business_list %}
                            {% if business_name.구상권코드 == business_item.상권코드 %}
                                        <tr>
                                            <td>{{ business_name.상권코드명 }}</td>
                                            <td>{{ business_item.분기당매출금액|div:3|floatformat:0|intcomma }}</td>
                                            <td>{{ business_item.점포수 }}</td>
                                            <td>다이나믹</td>
                                        </tr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </aside>

        </div>

        <div class="group">
            첫번째 그룹
            {{ group_data.0.상권코드 }}
            <a href="{% url 'output:group_detail' selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=0 %}" class="detail-button">
                상세보기
            </a>
        </div>

        <div class="group">
            두번째 그룹
            {{ group_data.1.상권코드 }}
            <a href="{% url 'output:group_detail' selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=1 %}" class="detail-button">
                상세보기
            </a>
        </div>

        <div class="group">
            세번째 그룹
            {{ group_data.2.상권코드 }}
            <a href="{% url 'output:group_detail' selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=2 %}" class="detail-button">
                상세보기
            </a>
        </div>

        <div class="group">
            네번째 그룹
            {{ group_data.3.상권코드 }}
            <a href="{% url 'output:group_detail' selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=3 %}" class="detail-button">
                상세보기
            </a>
        </div>

        <div class="group">
            다섯번째 그룹
            {{ group_data.4.상권코드 }}
            <a href="{% url 'output:group_detail' selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=4 %}" class="detail-button">
                상세보기
            </a>
        </div>


    </div>

    <footer></footer>


</body>
</html>

