{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>SSS</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

    <link rel="stylesheet" href="{% static 'css/output.css' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,500&family=Goldman&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <div class="header">
        <h1>Seoul Startup Spot</h1>
    </div>
</head>

<body>

    <div class="container">
        <div class="district-name">
            {{ neighborhood }}
        </div>

        <div class="block">
            <main>
                <img class="map-image" src="/static/images/map.png">
            </main>

            <aside>
                <div class="list">
                    <div class="small-block">
                    </div>
                </div>
            </aside>

        </div>

        <div class="group">
            <div class="big-button">
            </div>
        </div>

        <div class="group">
            <div class="big-button">
            </div>
        </div>

        <div class="group">
            <div class="big-button">
            </div>
        </div>

        <div class="group">
            <div class="big-button">
            </div>
        </div>

        <div class="group">
            <div class="big-button">
            </div>
        </div>





    </div>

    <footer></footer>

</body>
</html>

