{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Noto+Sans+KR:wght@300;400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>sss</title>
</head>
<body>
    <section id="main">
        <div class="wrapper">
            <h1>Seoul Startup Spot</h1>
            <p>
                서울시의 1,672개의 상권들을 분석하여 요식업 예비 창업자에게<br> 창업 위치 선정에 도움을 주는 사이트입니다. 
            </p>
            <p>
                창업 희망 업종이 해당 지역 상권에서 어떤 특성을 갖고 <br> 매출에 영향을 미치는 요인이 무엇인지 알아보세요!
            </p>
            <a href="input/">상권 분석 서비스 이용하기</a>
        </div>
    </section>
</body>
</html>