{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>sss</title>
</head>
<body>
    <section class="home wrapper">
        <h1>Seoul Startup Spot</h1>
        <img src="{% static 'images/logo.gif' %}" alt="My Happy SVG" />
        <p>
            서울시의 1,672개의 상권들을 분석하여 요식업 창업을 희망하는 사용자에게 유용한 정보를 제공해드릴 수 있는 사이트입니다. 어떤 업종을 어떤 상권에서 해야할지, 해당 지역의 상권에는 어떠한 특성이 있고 매출에 영향을 미치는 요인이 무엇인지 알아보세요!
        </p>
        <a href="input/">상권 분석 서비스 이용하기</a>
    </section>
</body>
</html>