{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SSS</title>
    <script src="https://kit.fontawesome.com/8878cbea7e.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/industry.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Noto+Sans+KR:wght@300;400;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<header class="header">
    <h1><img src="{%static 'images/Blue and Green Simple Architect Logo.png' %}"></h1>
</header>

<div class="container">
        <div class="big-container">
            <div class="tip">
                <h4><i class="fa-solid fa-lightbulb fa-lg" style="color: #ffd642;"></i>&nbsp;상권 분석에 앞서 우리 서비스에 대해 알아보세요!</h4>
                <strong>그룹이란? 비슷한 특성을 가지는 상권끼리 묶어놓은 것</strong><br><br>
                서울시 상권 분석 서비스(TRIPLE S)는 업종 데이터를 분석한 뒤, 매출에 주 요인이 되는 지표들이 <br>비슷한 경향을 띄는 상권들을 묶어 5개의 그룹으로 나누었습니다.<br><br>
                사용자가 선택한 희망 업종과 행정동에 따라 해당 지역의 상권들이 5개 그룹 중 하나의 그룹으로 분류되고, 그 결과 각 그룹에는 비슷한 특성을 가지고 있는 상권들끼리 모이게 됩니다. 그룹마다 두드러지게 나타나는 특성을 키워드로 나타내었으니 참고해주세요!<br><br> 추천 서비스 알고리즘을 통해 각 그룹에 있는 상권에서 창업을 하게 되었을 때의 가능성을 예측하실 수 있습니다. 그룹 상세 페이지에서는 매출금액, 생활인구, 유동인구, 그리고 집객시설 카테고리의 데이터를 시각화하여 보여드립니다. 매출을 발생시키거나 감소시키는 요인이 무엇인지 참고하시고 영업 시간, 휴무일, 가게 유형(저가형/고가형) 등의 경영 전략을 수립하세요!<br><br>
                <div class="input">
                    <a href="/input"><i class="fa-solid fa-arrow-right"></i>&nbsp;상권 분석 보러 가기</a>
                </div>
            </div>

            <div class="tip">
                <h4><i class="fa-solid fa-lightbulb fa-lg" style="color: #ffd642;"></i>&nbsp;10가지 요식업종의 매출 TIP을 알아보세요!</h4>
                상권 분석 서비스에서 10가지 업종을 분석하여 매출이 높은 상권에서 공통적으로 보이는 특징, 업종별로 두드러지는 특성에 대해 정리하여 분기별 매출 평균 금액, 중위값을 나타낸 그래프와 함께 보여드립니다. 희망하는 업종에서의 매출에 중요한 요인들이 어떤 것들이 있는지 살펴보세요!
                <div class="input"><br>
                    <a href="/industry"><i class="fa-solid fa-arrow-right"></i>&nbsp;업종별 분석 보러 가기</a>
                </div>
            </div>
        </div>
</body>
</html>