{% load static %}
{% load humanize %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>TRIPLE S</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
    <script src="https://kit.fontawesome.com/8878cbea7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Noto+Sans+KR:wght@300;400;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="header">
        <h1><a href="/"><img src="{%static 'images/Blue and Green Simple Architect Logo.png' %}"></a></h1>    </div>
</head>

<body>
    <div class="big-container">
        <nav class="menu">
            <ul>
                <li><a href="{% url 'output:sales' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">매출금액</a></li>
                <li><a href="{% url 'output:floating' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">유동인구/직장인구</a></li>
                <li><a href="{% url 'output:living' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">생활인구</a></li>
                <li><a href="{% url 'output:facility' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">집객시설</a></li>
            </ul>
        </nav>
        <br>
        <div class="medium-container">
            <h3><i class="fa-solid fa-bullhorn fa-lg" style="color: #FFFFFF;"></i> &nbsp;다음 데이터는 서울시 {{selected_industry_name}} 데이터와 {{ selected_neighborhood }}의 상권데이터를 기반으로 분석한 <br>선택 상권 그룹의 "예측 데이터"입니다.
            </h3>
            <div class="wrapper">
                <div class="business-box">
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;지역 : 서울특별시 > {{ selected_district }} > {{ selected_neighborhood }}</strong></p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;업종 : 요식업 > {{ selected_industry_name }}</strong></p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;상권명 : {% for name in business_name %} {{ name }} {% endfor %}(총 {{ business_name|length }}개)</strong></p>
                </div>
                <div class="map-box">
                    <main>
                        {{ map|safe }}
                    </main>
                </div>
            </div>
        </div>
        <div class="main-intro">
            <i class="fa-solid fa-circle-exclamation" style="color: #ffd642;"></i> 
            생활인구란 특정 지역, 특정 시점에 존재하는 모든 인구를 말합니다. 해당 지역에 주소지를 둔 사람은 물론 <br>일시적으로 서울을 찾은 인구가 모두 해당됩니다. 생활 인구가 소비자로 이어질 수 있도록 마케팅 전략을 세워야합니다.
        </div>
        <br>
        <div class="small-container">
            <br>
            <h2 class="title">&nbsp;&nbsp;월평균 생활인구수는 {{ final.0.총생활인구수|div:3|floatformat:0|intcomma }}명 입니다.</h2>
            <br>
            <div class="wrapper">
                <div class="text-section">
                    <br>
                    <div class="text-box">
                        <p>
                            선택 상권 그룹의 월 평균 추정 생활인구수는 <br>최소 {{ min_living|div:3|floatformat:0|intcomma }}명 ~ 
                            최대 {{ max_living|div:3|floatformat:0|intcomma }}명 입니다. <br>
                        </p>
                    </div>
                </div>
                <div class="chart-section">
                    <div class="chart-box">
                        <canvas id="meanChart"  width="350" height="250"></canvas>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>

        <div class="small-container">
            <br>
            {% if final.0.남성생활인구수 > final.0.여성생활인구수 %}
            <h2 class="title">&nbsp;&nbsp; 남성 생활인구가 여성 생활인구 보다 많습니다.</h2>
            {% else %}
            <h2 class="title">&nbsp;&nbsp; 여성 생활인구가 남성 생활인구 보다 많습니다.</h2>
            {% endif %}
            <br>
            <div class="wrapper">
                <div class="text-section">
                    <br>
                    <div class="text-box">
                        {% if final.0.남성생활인구수 > final.0.여성생활인구수 %}
                        <p>
                            남성이 여성보다 생활인구수가 높습니다. 
                        </p>
                        {% else %}
                        <p>
                            여성이 남성보다 생활인구수가 많습니다. 
                        </p>
                        {% endif %}
                    </div>
                </div>
                <div class="chart-section">
                    <div class="chart-box">
                        <canvas id="genderChart" width="350" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="small-container">
            <br>     
                <h2 class="title">&nbsp;&nbsp;{{ max_living_time }} 생활인구가 가장 많습니다.</h2>
            <br>
            <div class="wrapper">
                <div class="chart-section">
                    <br>
                    <div class="chart-box">
                        <canvas id="timelivingChart"  width="350" height="250"></canvas>
                    </div>
                </div>
                <div class="chart-section">
                    <br>
                    <div class="chart-box">
                        <canvas id="timeChart"  width="350" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="small-container">
            <br>
                <h2 class="title">&nbsp;&nbsp;{{ max_living_day }} 생활인구가 가장 많습니다.</h2>
            <br>
            <div class="wrapper">
                <div class="chart-section">
                    <br>
                    <div class="chart-box">
                        <canvas id="daylivingChart"  width="350" height="250"></canvas>
                    </div>
                </div>
                <div class="chart-section">
                    <br>
                    <div class="chart-box">
                        <canvas id="dayChart"  width="350" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="small-container">
            <br>
            <h2 class="title">&nbsp;&nbsp;{{ max_living_age }} 생활인구가 가장 많습니다.</h2>
            <br>
            <div class="wrapper">
                <div class="chart-section">
                    <br>
                    <div class="chart-box">
                        <canvas id="agelivingChart"  width="350" height="250"></canvas>
                    </div>
                </div>
                <div class="chart-section">
                    <br>
                    <div class="chart-box">
                        <canvas id="ageChart"  width="350" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        const meanCtx = document.getElementById('meanChart').getContext('2d');
        const meanChart = new Chart(meanCtx, {
            type: 'bar',
            data: {
                labels: ['그룹 평균', '행정동 평균'],
                datasets: [{
                    label: '생활인구 수',
                    data: [{{ final.0.총생활인구수|div:3 }}, {{ district_living|div:3 }}],
                    backgroundColor: '#4aa8d8',
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const genderCtx = document.getElementById('genderChart').getContext('2d');
        const genderChart = new Chart(genderCtx, {
            type: 'pie',
            data: {
                labels: ['남성', '여성'],
                datasets: [{
                    label: '생활인구 수',
                    data: [{{ final.0.남성생활인구수|div:3 }}, {{ final.0.여성생활인구수|div:3 }}],
                    backgroundColor: ['#ffd400', '#a374db'],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const timelivingCtx = document.getElementById('timelivingChart').getContext('2d');
        const timelivingChart = new Chart(timelivingCtx, {
            type: 'doughnut',
            data: {
                labels: ['00~06시', '06~11시', '11~14시', '14~17시', '17~21시', '21~24시'],
                datasets: [{
                    label: '시간대별 생활인구 비율',
                    data: [{{ final.0.시간대0006생활인구수|div:3 }}, {{ final.0.시간대0611생활인구수|div:3 }}, {{ final.0.시간대1114생활인구수|div:3 }}, {{ final.0.시간대1417생활인구수|div:3 }}, {{ final.0.시간대1721생활인구수|div:3 }}, {{ final.0.시간대2124생활인구수|div:3 }}],
                    backgroundColor: [
                    '#d6efbb', 
                    '#c2e799',
                    '#aedf77',
                    '#9ad756',
                    '#8ac14d',
                    '#7bac44'
                ],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: '시간대별 생활인구 비율'
                    }
                }
            }
        });

        const timeCtx = document.getElementById('timeChart').getContext('2d');
        const timeChart = new Chart(timeCtx, {
            type: 'bar',
            data: {
                labels: ['00~06시', '06~11시', '11~14시', '14~17시', '17~21시', '21~24시'],
                datasets: [{
                    label: '시간대',
                    data: [{{ final.0.시간대0006생활인구수|div:3 }}, {{ final.0.시간대0611생활인구수|div:3 }}, {{ final.0.시간대1114생활인구수|div:3 }}, {{ final.0.시간대1417생활인구수|div:3 }}, {{ final.0.시간대1721생활인구수|div:3 }}, {{ final.0.시간대2124생활인구수|div:3 }}],
                    backgroundColor: '#8ac14d',
                    borderColor: '#7bac44',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: '시간대별 생활인구 수'
                    }
                }
            }
        });

        const dayCtx = document.getElementById('dayChart').getContext('2d');
        const dayChart = new Chart(dayCtx, {
            type: 'bar',
            data: {
                labels: ['월', '화', '수', '목', '금', '토', '일'],
                datasets: [{
                    label: '요일',
                    data: [{{ final.0.월요일생활인구수|div:3 }}, {{ final.0.화요일생활인구수|div:3 }}, {{ final.0.수요일생활인구수|div:3 }}, {{ final.0.목요일생활인구수|div:3 }}, {{ final.0.금요일생활인구수|div:3 }}, {{ final.0.토요일생활인구수|div:3 }}, {{ final.0.일요일생활인구수|div:3 }}],
                    backgroundColor: 'skyblue',
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: '요일별 생활인구 비율'
                    }
                }
            }
        });

        const daylivingCtx = document.getElementById('daylivingChart').getContext('2d');
        const daylivingChart = new Chart(daylivingCtx, {
            type: 'doughnut',
            data: {
                labels: ['월', '화', '수', '목', '금', '토', '일'],
                datasets: [{
                    label: '요일',
                    data: [{{ final.0.월요일생활인구수|div:3 }}, {{ final.0.화요일생활인구수|div:3 }}, {{ final.0.수요일생활인구수|div:3 }}, {{ final.0.목요일생활인구수|div:3 }}, {{ final.0.금요일생활인구수|div:3 }}, {{ final.0.토요일생활인구수|div:3 }}, {{ final.0.일요일생활인구수|div:3 }}],
                    backgroundColor: [
                    '#f0f8ff', // LightPink
                    '#e6f4fa', // SkyBlue
                    '#cce8f4', // PaleGreen
                    '#b2ddef', // Gold
                    '#96d2ea', // LightSalmon
                    '#76c7e4',  // HotPink
                    '#50bcdf'  // MediumSpringGreen
                ],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: '요일별 생활인구 수'
                    }
                }
            }
        });

        const agelivingCtx = document.getElementById('agelivingChart').getContext('2d');
        const agelivingChart = new Chart(agelivingCtx, {
            type: 'doughnut',
            data: {
                labels: ['10대', '20대', '30대', '40대', '50대', '60대 이상'],
                datasets: [{
                    label: '연령대',
                    data: [{{ final.0.연령대10생활인구수|div:3 }}, {{ final.0.연령대20생활인구수|div:3 }}, {{ final.0.연령대30생활인구수|div:3 }}, {{ final.0.연령대40생활인구수|div:3 }}, {{ final.0.연령대50생활인구수|div:3 }}, {{ final.0.연령대60이상생활인구수|div:3 }}],
                    backgroundColor: [                    
                    '#fcecec', 
                    '#f9dada',
                    '#f9caca',
                    '#f9baba', 
                    '#f9aaaa', 
                    '#f99a9a'
                ],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: '연령대별 생활인구 비율'
                    }
                }
            }
        });

        const ageCtx = document.getElementById('ageChart').getContext('2d');
        const ageChart = new Chart(ageCtx, {
            type: 'bar',
            data: {
                labels: ['10대', '20대', '30대', '40대', '50대', '60대 이상'],
                datasets: [{
                    label: '연령대',
                    data: [{{ final.0.연령대10생활인구수|div:3 }}, {{ final.0.연령대20생활인구수|div:3 }}, {{ final.0.연령대30생활인구수|div:3 }}, {{ final.0.연령대40생활인구수|div:3 }}, {{ final.0.연령대50생활인구수|div:3 }}, {{ final.0.연령대60이상생활인구수|div:3 }}],
                    backgroundColor: '#ffaaaa',
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: '연령대별 생활인구 수'
                    }
                }
            }
        });
    </script>

    <footer class="footer">
        Triple S
    </footer>

</body>

</html>
