{% load static %}
{% load humanize %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SSS</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Noto+Sans+KR:wght@300;400;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="header">
        <h1><img src="{%static 'images/Blue and Green Simple Architect Logo.png' %}"></h1>
    </div>
</head>

<body>
    <div class="big-container">
        <nav class="menu">
            <ul>
                <li><a href="{% url 'output:sales' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">매출금액</a></li>
                <li><a href="{% url 'output:floating' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">유동인구</a></li>
                <li><a href="{% url 'output:living' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">생활인구</a></li>
                <li><a href="{% url 'output:facility' selected_district=selected_district selected_industry=selected_industry neighborhood_code=neighborhood_code group_id=group_id %}">집객시설</a></li>
            </ul>
        </nav>

        <div class="business">
            <p>&nbsp;&nbsp;지역 : 서울특별시 > {{ selected_district }} > {{ selected_neighborhood }}</p>
            <p>&nbsp;&nbsp;업종 : 요식업 > {{ selected_industry_name }}</p>
            <p>&nbsp;&nbsp;상권명 : {% for name in business_name %} {{ name }} {% endfor %}( 총 {{ business_name|length }}개 )</p>
        </div>

            <h3> 다음 데이터는 서울시 {{selected_industry_name}} 데이터와 {{ selected_neighborhood }}의 상권데이터를 기반으로 분석한
                <br>그룹명의 예측 데이터입니다.
            </h3>

        <br>
        <div class="small-container">
            <br>
            <h2 class="title">&nbsp;&nbsp;월평균 추정매출은 {{ final.0.분기당매출금액|div:3|floatformat:0|intcomma }}원 입니다.</h2>
            <br>
            <div class="wrapper">
                <div class="text-section">
                    <br>
                    <p>
                        해당 상권 그룹의 월 평균 추정 매출금액은 최소 {{ min_sell|div:3|floatformat:0|intcomma }}원 ~ 
                        최대 {{ max_sell|div:3|floatformat:0|intcomma }}원 입니다. <br>
                    </p>
                </div>
                <div class="chart-section">
                    <div class="chart-box">
                        <canvas id="meanChart"  width="350" height="250"></canvas>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="small-container">
            <br>
            {% if week_price > weekend_price %}
            <h2 class="title">&nbsp;&nbsp; 주중 한 건당 매출금액이 더 높습니다.</h2>
            {% else %}
            <h2 class="title">&nbsp;&nbsp; 주말 한 건당 매출금액이 더 높습니다.</h2>
            {% endif %}
            <br>
            <div class="wrapper">
                <div class="text-section">
                    <br>
                    <p>
                        해당 상권 그룹의 한 건당 매출 금액은 주중 {{ week_price|div:3|floatformat:0|intcomma }}원, 주말 {{ weekend_price|div:3|floatformat:0|intcomma }}원 입니다.<br>
                        {% if week_price > weekend_price %}
                        주중 한 건당 매출금액이 더 높더라도, 주중이 주말보다 전체 매출금액이 높지 않을 수 있습니다. 아래 요일별 매출금액을 함께 살펴보세요!
                        {% else %}
                        주말 한 건당 매출금액이 더 높더라도, 주말이 주중보다 전체 매출금액이 높지 않을 수 있습니다. 아래 요일별 매출금액을 함께 살펴보세요!
                        {% endif %}
                    </p>
                </div>
                <div class="chart-section">
                    <div class="chart-box">
                        <canvas id="unitPriceChart"  width="350" height="250"></canvas>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="small-container">
            <br>
            {% if final.0.남성매출금액 > final.0.여성매출금액 %}
            <h2 class="title">&nbsp;&nbsp; 남성 매출금액이 여성 매출금액 보다 많습니다.</h2>
            {% else %}
            <h2 class="title">&nbsp;&nbsp; 여성 매출금액이 남성 매출금액 보다 많습니다.</h2>
            {% endif %}
            <br>
            <div class="wrapper">
                <div class="text-section">
                    <br>
                    <p>
                        {% with total_sales=final.0.남성매출금액|add:final.0.여성매출금액 %}
                        {% with female_percentage=final.0.여성매출금액|div:total_sales|mul:100 %}
                            여성 매출금액은 전체 매출의 {{ female_percentage|floatformat:1 }}%, 
                        {% with male_percentage=final.0.남성매출금액|div:total_sales|mul:100 %}
                            남성 매출금액은 전체 매출의 {{ male_percentage|floatformat:1 }}%를 차지합니다.

                            {% if female_percentage > male_percentage %}
                            {% with fsub=female_percentage|sub:male_percentage %}
                            {% if fsub < 5 %}
                                <br>여성 매출금액이 남성 매출금액보다 높지만, 그 차이는 크지 않아 여성과 남성의 소비가 비슷한 것으로 보입니다.
                            {% elif 5 < fsub and fsub < 10 %}
                                <br>여성 매출금액이 남성 매출금액보다 높아, 여성이 남성보다 소비가 많은 것으로 보입니다.
                            {% else %}
                                <br>여성 매출금액이 남성 매출금액보다 월등히 높아, 여성이 남성보다 훨씬 소비가 많은 것으로 보입니다.
                            {% endif %}
                            {% endwith %}
                            {% endif %}

                            {% if female_percentage < male_percentage %}
                            {% with msub=male_percentage|sub:female_percentage %}
                            {% if msub < 5 %}
                                <br>남성 매출금액이 여성 매출금액보다 높지만, 그 차이는 크지 않아 여성과 남성의 소비가 비슷한 것으로 보입니다.
                            {% elif 5 < msub and msub < 10 %}
                                <br>남성 매출금액이 여성 매출금액보다 높아, 남성이 여성보다 소비가 많은 것으로 보입니다.
                            {% else %}
                                <br>남성 매출금액이 여성 매출금액보다 월등히 높아, 남성이 여성보다 훨씬 소비가 많은 것으로 보입니다.
                            {% endif %}
                            {% endwith %}
                            {% endif %}
                            
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    </p>
                </div>
                <div class="chart-section">
                    <div class="chart-box">
                        <canvas id="genderChart" width="350" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="small-container">
            <br>     
                <h2 class="title">&nbsp;&nbsp;{{ max_time }} 매출금액이 가장 높습니다.</h2>
            <br><br>
            <div class="wrapper">
                <div class="chart-section">
                    <canvas id="timesalesChart" width="350" height="250"></canvas>
                </div>
                <div class="chart-section">
                    <div class="chart-box">
                        <canvas id="populationChart" width="350" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="small-container">
            <br>
                <h2 class="title">&nbsp;&nbsp;{{ max_day }} 매출금액이 가장 높습니다.</h2>
            <br><br>
            <div class="wrapper">
                <div class="chart-section">
                    <canvas id="daysalesChart" width="350" height="250"></canvas>
                </div>
                <div class="chart-section">
                    <div class="chart-box">
                        <canvas id="saleChart" width="350" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="small-container">
            <br>
            <h2 class="title">&nbsp;&nbsp;{{ max_age }} 매출이 가장 높습니다.</h2>
            <br><br>
            <div class="wrapper">
                <div class="chart-section">
                    <canvas id="agesalesChart"  width="350" height="250"></canvas>
                </div>
                <div class="chart-section">
                    <div class="chart-box">
                        <canvas id="ageChart"  width="350" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const meanCtx = document.getElementById('meanChart').getContext('2d');
        const meanChart = new Chart(meanCtx, {
            type: 'bar',
            data: {
                labels: ['평균 추정매출', '행정동 평균'],
                datasets: [{
                    label: '매출 금액',
                    data: [{{ final.0.분기당매출금액|div:3 }}, {{ district_price|div:3 }}],
                    backgroundColor: '#00A0FF',
                    borderColor: '#006BD1',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    
        const unitPriceCtx = document.getElementById('unitPriceChart').getContext('2d');
        const unitPriceChart = new Chart(unitPriceCtx, {
            type: 'bar',
            data: {
                labels: ['주중', '주말', '평균'],
                datasets: [{
                    label: '한 건당 평균 매출 금액',
                    data: [{{ week_price|div:3 }}, {{ weekend_price|div:3 }}, {{ total_price|div:3 }}],
                    backgroundColor: '#00A0FF',
                    borderColor: '#006BD1',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const genderCtx = document.getElementById('genderChart').getContext('2d');
        const genderChart = new Chart(genderCtx, {
            type: 'pie',
            data: {
                labels: ['남성', '여성'],
                datasets: [{
                    label: '남성/여성 매출비율',
                    data: [{{ final.0.남성매출금액|div:3 }}, {{ final.0.여성매출금액|div:3 }}],
                    backgroundColor: ['#006BD1', '#FF0000'],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const timesalesCtx = document.getElementById('timesalesChart').getContext('2d');
        const timesalesChart = new Chart(timesalesCtx, {
            type: 'doughnut',
            data: {
                labels: ['00~06시', '06~11시', '11~14시', '14~17시', '17~21시', '21~24시'],
                datasets: [{
                    label: '시간대별 매출비율',
                    data: [{{ final.0.시간대0006매출금액|div:3 }}, {{ final.0.시간대0611매출금액|div:3 }}, {{ final.0.시간대1114매출금액|div:3 }}, {{ final.0.시간대1417매출금액|div:3 }}, {{ final.0.시간대1721매출금액|div:3 }}, {{ final.0.시간대2124매출금액|div:3 }}],
                    backgroundColor: [
                    '#FFB6C1', // LightPink
                    '#87CEEB', // SkyBlue
                    '#98FB98', // PaleGreen
                    '#FFD700', // Gold
                    '#FFA07A', // LightSalmon
                    '#FF69B4'  // HotPink
                ],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const populationCtx = document.getElementById('populationChart').getContext('2d');
        const populationChart = new Chart(populationCtx, {
            type: 'bar',
            data: {
                labels: ['00~06시', '06~11시', '11~14시', '14~17시', '17~21시', '21~24시'],
                datasets: [{
                    label: '시간대',
                    data: [{{ final.0.시간대0006매출금액|div:3 }}, {{ final.0.시간대0611매출금액|div:3 }}, {{ final.0.시간대1114매출금액|div:3 }}, {{ final.0.시간대1417매출금액|div:3 }}, {{ final.0.시간대1721매출금액|div:3 }}, {{ final.0.시간대2124매출금액|div:3 }}],
                    backgroundColor: '#50EF66',
                    borderColor: '#00BF39',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const daysalesCtx = document.getElementById('daysalesChart').getContext('2d');
        const daysalesChart = new Chart(daysalesCtx, {
            type: 'doughnut',
            data: {
                labels: ['월', '화', '수', '목', '금', '토', '일'],
                datasets: [{
                    label: '요일',
                    data: [{{ final.0.월요일매출금액|div:3 }}, {{ final.0.화요일매출금액|div:3 }}, {{ final.0.수요일매출금액|div:3 }}, {{ final.0.목요일매출금액|div:3 }}, {{ final.0.금요일매출금액|div:3 }}, {{ final.0.토요일매출금액|div:3 }}, {{ final.0.일요일매출금액|div:3 }}],
                    backgroundColor: [
                    '#FFB6C1', // LightPink
                    '#87CEEB', // SkyBlue
                    '#98FB98', // PaleGreen
                    '#FFD700', // Gold
                    '#FFA07A', // LightSalmon
                    '#FF69B4',  // HotPink
                    '#00FA9A'  // MediumSpringGreen
                ],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const saleCtx = document.getElementById('saleChart').getContext('2d');
        const saleChart = new Chart(saleCtx, {
            type: 'bar',
            data: {
                labels: ['월', '화', '수', '목', '금', '토', '일'],
                datasets: [{
                    label: '요일',
                    data: [{{ final.0.월요일매출금액|div:3 }}, {{ final.0.화요일매출금액|div:3 }}, {{ final.0.수요일매출금액|div:3 }}, {{ final.0.목요일매출금액|div:3 }}, {{ final.0.금요일매출금액|div:3 }}, {{ final.0.토요일매출금액|div:3 }}, {{ final.0.일요일매출금액|div:3 }}],
                    backgroundColor: 'skyblue',
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const agesalesCtx = document.getElementById('agesalesChart').getContext('2d');
        const agesalesChart = new Chart(agesalesCtx, {
            type: 'doughnut',
            data: {
                labels: ['10대', '20대', '30대', '40대', '50대', '60대 이상'],
                datasets: [{
                    label: '연령대별 매출',
                    data: [{{ final.0.연령대10매출금액|div:3 }}, {{ final.0.연령대20매출금액|div:3 }}, {{ final.0.연령대30매출금액|div:3 }}, {{ final.0.연령대40매출금액|div:3 }}, {{ final.0.연령대50매출금액|div:3 }}, {{ final.0.연령대60이상매출금액|div:3 }}],
                    backgroundColor: [
                    '#FFB6C1', // LightPink
                    '#87CEEB', // SkyBlue
                    '#98FB98', // PaleGreen
                    '#FFD700', // Gold
                    '#FFA07A', // LightSalmon
                    '#FF69B4'  // HotPink
                ],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const ageCtx = document.getElementById('ageChart').getContext('2d');
        const ageChart = new Chart(ageCtx, {
            type: 'bar',
            data: {
                labels: ['10대', '20대', '30대', '40대', '50대', '60대 이상'],
                datasets: [{
                    label: '연령대',
                    data: [{{ final.0.연령대10매출금액|div:3 }}, {{ final.0.연령대20매출금액|div:3 }}, {{ final.0.연령대30매출금액|div:3 }}, {{ final.0.연령대40매출금액|div:3 }}, {{ final.0.연령대50매출금액|div:3 }}, {{ final.0.연령대60이상매출금액|div:3 }}],
                    backgroundColor: '#FF889D',
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <footer class="footer">
        Triple S
    </footer>

</body>
</html>
